@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;


@font-face {
    font-family: 'Avenir Next Regular';
    src: url(../../assets/Font/AvenirNextLTPro-Regular.otf) format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Demi';
    src: url(../../assets/Font/AvenirNextLTPro-Demi.otf) format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Bold';
    src: url(../../assets/Font/AvenirNextLTPro-Bold.otf) format('opentype');
    font-weight: 700;
    font-style: normal;
}

.video-player {
    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    &__element {
      max-width: 110%;
    }
  
    &__details {
      width: 100%;
      padding: 16px;

      &--title {
        font-family: 'Avenir Next Demi', Arial, sans-serif;
        font-size: 1.6rem;
      }

      &--grouped {
        border-top: 1px solid $mercury;
        border-bottom: 1px solid $mercury;
        display: flex;
        justify-content: flex-start;
        color: $silver;

        &--a {
            margin-right: 8px;
        }

        &--channel {
            font-family: 'Avenir Next Demi', Arial, sans-serif;
            color: $brainflix-black;
        }
      }
    }

    &__description {
        font-size: .85rem;
    }

    &__comment-count {
        width: 100%;
        font-family: 'Avenir Next Demi', Arial, sans-serif;
    }
  }