@use './styles/partials/mixins' as *;
@use './styles/partials/variables' as *;

@font-face {
    font-family: 'Avenir Next Regular';
    src: url(../assets/Font/AvenirNextLTPro-Regular.otf) format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Demi';
    src: url(../assets/Font/AvenirNextLTPro-Demi.otf) format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Bold';
    src: url(../assets/Font/AvenirNextLTPro-Bold.otf) format('opentype');
    font-weight: 700;
    font-style: normal;
}

body {
    margin: 0;
    padding: 16px;
    font-family: 'Avenir Next', Arial, sans-serif;

    @include tablet {
        padding: 36px;
    }
}

.desktop-container {

    @include desktop {
        display: flex;
    }

    &__left {

        @include desktop{
        width: 60vw;
        // flex-grow: 8;
        border-right: 1px solid rgb(175, 175, 175, .5); 
        }
    }

    &__right {
        @include desktop {
        margin-left: 36px;
        // flex-shrink: 1;
        }
    }
}